a {
    text-decoration: none;
}

.login-page {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
}

.form-right i {
    font-size: 100px;
}