<div class="container text-white bg-dark p-5 mt-5" style="border-radius: 5px;">
  <div class="find-car-form">
    <h4 class="find-car-title">Let's Find Your Perfect Car</h4>
    <form action="#">
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="form-group">
            <label>Your Perfect Car</label>
            <input type="text" class="form-control" placeholder="Type Car, Model, Brand">
            <i class="far fa-car"></i>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="form-group">
            <label>Pick Up Location</label>
            <input type="text" class="form-control" placeholder="Type City, Airport, Station">
            <i class="far fa-location-dot"></i>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="form-group">
            <label>Drop Off Location</label>
            <input type="text" class="form-control" placeholder="Type City, Airport, Station">
            <i class="far fa-location-dot"></i>
          </div>
        </div>
        <div class="col-lg-2 mb-4">
          <div class="form-group">
            <label>Pick Up Date</label>
            <input type="date" class="form-control date-picker hasDatepicker" placeholder="MM/DD/YY"
              id="dp1669726337800">
            <i class="far fa-calendar-days"></i>
          </div>
        </div>
        <div class="col-lg-2 mb-4">
          <div class="form-group">
            <label>Pick Up Time</label>
            <input type="time" class="form-control time-picker" placeholder="00:00 AM">
            <i class="far fa-clock"></i>
          </div>
        </div>
        <div class="col-lg-2 mb-4">
          <div class="form-group">
            <label>Drop Off Date</label>
            <input type="date" class="form-control date-picker hasDatepicker" placeholder="MM/DD/YY"
              id="dp1669726337801">
            <i class="far fa-calendar-days"></i>
          </div>
        </div>
        <div class="col-lg-2 mb-4">
          <div class="form-group">
            <label>Drop Off Time</label>
            <input type="time" class="form-control time-picker" placeholder="00:00 AM">
            <i class="far fa-clock"></i>
          </div>
        </div>
        <div class="col-lg-4 mb-4 align-self-end">
          <button class="btn btn-primary" type="submit">Find Your Car <i class="far fa-arrow-right"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>